<div>
  <card data-accent-color="tempo-bg-color--gray"
    data-icon-src="https://symphony-app-icon.s3.amazonaws.com/favicon.png">
    <header>
      {{#if message.title}}
      {{message.title}}
      <br/>
      {{/if}}

      <ul>
        {{#each message.content}}
        <li>
          {{#if this.header}}
          <b>{{this.header}}</b>{{this.body}}
          {{else}}
          {{this}}
          {{/if}}
        </li>
        {{/each}}
      </ul>
    </header>
  </card>
</div>
